general {
        colors = true
        interval = 5
}

order += "ipv6"
order += "wireless _first_"
order += "ethernet _first_"
order += "disk /"
order += "battery 0"
order += "volume master"
order += "load"

order += "tztime sydney"
order += "tztime eastern"
order += "tztime paciffic"
order += "tztime utc"
order += "tztime europe"
order += "tztime local"

wireless _first_ {
  format_up = "W: (%quality at %essid) %ip"
  format_down = ""
}

ethernet _first_ {
  format_up = "%ip (%speed)"
  format_down = ""
}

battery 0 {
  format = "%status %percentage %remaining"
  format_down = ""
}

time {
  format = "%Y-%m-%d %H:%M:%S"
}

volume master {
  format = "♪ %volume"
  device = "default"
  mixer = "Master"
  mixer_idx = 0
}

load {
  format = "%1min"
}

disk "/" {
  format = "%free"
}

tztime local {
  format = "%Y-%m-%d %H:%M:%S"
}

tztime europe {
  format = "%H:%M:%S %Z"
  timezone = "Europe/Berlin"
}

tztime utc {
  format = "%H:%M:%S %Z"
  timezone = "UTC"
}

tztime paciffic {
  format = "%H:%M:%S SFO"
  timezone = "US/Pacific"
}

tztime eastern {
  format = "%H:%M:%S NYC"
  timezone = "US/Eastern"
}

tztime sydney {
  format = "%H:%M:%S SYD"
  timezone = "Australia/Sydney"
}
