general {
        colors = true
        interval = 5
}

order += "ipv6"
order += "disk /"
order += "wireless wlan0"
order += "ethernet eth0"
order += "battery 0"
order += "volume master"
order += "load"

order += "tztime sydney"
order += "tztime eastern"
order += "tztime paciffic"
order += "tztime utc"
order += "tztime local"

wireless wlan0 {
        format_up = "W: (%quality at %essid) %ip"
        format_down = "W: down"
}

ethernet eth0 {
        # if you use %speed, i3status requires root privileges
        format_up = "E: %ip (%speed)"
	format_down = "E: down"
}

battery 0 {
        format = "%status %percentage %remaining"
}

time {
	format = "%Y-%m-%d %H:%M:%S"
}

volume master {
        format = "♪ %volume"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}

load {
	format = "%1min"
}

disk "/" {
	format = "%free"
}

tztime local {
   format = "%Y-%m-%d %H:%M:%S"
}

tztime utc {
   format = "%H:%M:%S %Z"
   timezone = "UTC"
}

tztime paciffic {
   format = "%H:%M:%S SFO"
   timezone = "US/Pacific"
}

tztime eastern {
   format = "%H:%M:%S NYC"
   timezone = "US/Eastern"
}

tztime sydney {
   format = "%H:%M:%S SYD"
   timezone = "Australia/Sydney"
}
